body {
  text-align: center;
}

.banner {
  /* background-image: url('B9A1-New-Year-New-Mission/resources/Banner\ Image.png'); */
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./B9A1-New-Year-New-Mission-main/resources/BannerImage.png');
  background-repeat: no-repeat;
  max-width: 1320px;
  height: 600px;
  margin: 50px 140px 0 140px;
  border-radius: 16px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

.content {
  color: #FFF;
  text-align: center;
  margin: auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  background-repeat: no-repeat;
  font-family: 'Merriweather', serif;

}

.text {
  color: #FFF;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

.discount {
  font-family: 'Inter', sans-serif;
  color: #F00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
  margin-top: 120px;

}

.primary-text {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}

.all-catagories {
  color: black;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  padding: 0px 100px;
  font-size: 72px;
}

.image {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  margin: 0 398.1px 0 399px;
}

.section-titles {
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.section {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 146px;
  border-radius: 15px;
}

.vectorImgContent {
  text-align: left;
  max-width: 700px;
}

.section-p {
  color: rgba(255, 255, 255, 0.80);
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.join {
  color: #FFF;
  background-color: transparent;
  border: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

}

.section2 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  max-width: 1320px;
  height: 482px;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  margin: 120px 160px 120px 140px;
  padding: 100px;
  border-radius: 15px;
}

.btn2 {
  color: #FFF;
  background-color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

span {
  color: black;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1320px;
  height: 600px;
  margin: auto;
  padding: 0;

}

.image3 {
  border-radius: 463px;
  border: 15px solid #F00;
  width: 364.844px;
  height: 364.844px;
  padding: 80px;
}

.img4 {
  width: 140px;
  height: 140px;
  flex-shrink: 0;


}

.section3-p {
  color: rgba(7, 2, 17, 0.60);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;


}

.section3-h2 {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.section3-h3 {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;

}

.year {
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.year-p {
  color: rgba(7, 2, 17, 0.60);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

}

.section4 {
  margin-top: 30px;
  background-image: url('./B9A1-New-Year-New-Mission-main/resources/Rectangle\ 2.png');
  height: 329px;
  width: 1320px;
  background-repeat: no-repeat;

}

.section5-h2 {
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section5-h1 {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.section5-p {
  color: rgba(7, 2, 17, 0.60);

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px
}


.section5 {
  text-align: center;
  margin: auto;
  max-width: 1320px;
  margin-bottom: 120px;
  padding: 80px 0 0 80px;
}

.section5-div {
  text-align: left;
}

.borderOnHover {
  width: fit-content;
  height: max-content;
  display: inline-block;
  border: 2px solid transparent;

}

.borderOnHover:hover {
  border: 2px solid red;
  border-radius: 25px;
}

.section6 {
  max-width: 1320px;
  margin: auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  justify-content: center;

}

.section6-img {
  padding: 80px 0 0 0;
}

.section6-h1 {
  padding: 40px;
  color: #070211;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.section6 {
  padding: 20px;
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}